/* NavBar */
nav {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px; */
  padding: 15px;
}

nav .link-item {
  text-decoration: none;
  cursor: pointer !important;
}

nav .brand {
  text-decoration: none !important;
  color: #000 !important;
}

nav .active {
  text-decoration: underline;
}